*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(to top , rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(p1.jpg);
    background-position: center;
    background-size: cover;
}




.navbar{
    height: 100px;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    border-bottom: 2px solid black;
}
.icons{
    display: flex;
    /* background-color: blue; */
    gap: 4vw;
    align-items: center;
    list-style-type: none;
}
.icons li a{
    font-size: 1.5vw;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    color: black;
    
}
.icons li a:hover{
    color: blue;
}
.ri-menu-3-line{
    font-size: 1.7vw;
    font-weight: 800;
    display: none;
}
.navbar h2{
    font-size: 3vw;
    font-weight: 600;
    color: bisque;
}




.content{
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: bisque; */
    display: flex;
}
.left{
    width: 100%;
    height: 100%;
    /* background-color:red; */
    padding: 3vw 3vw;
}
.left h1{
    font-size: 6vw;
}
.left span{
    color: chocolate;
}
.left p{
    font-size: 3vw;
    padding:0 0.4vw;
    margin-top: 2vw;
}
.mypic{
    border-radius: 50%;
    width: 20vw;
    height: 19vw;
    margin-left: 1vw;
    margin-top: 5vw;
}





.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 24vw;
    gap: 4vw;
}
.right a{
    color: transparent;
}
.ri-facebook-circle-fill{
    font-size: 3.5vw;
    color: aliceblue;
    }
.ri-instagram-line{
    font-size: 3.5vw;
    color: aliceblue;
}
.ri-linkedin-box-fill{
    font-size: 3.5vw;
    color: aliceblue;
}
.ri-telegram-line{ 
    font-size: 3.5vw;
    color: aliceblue;
 }
.right a :hover{
    zoom: 150%;
}







@media (max-width: 600px){
    .navbar{
        /* background-color: aquamarine; */
        padding: 0 4vw;
    }
    .ri-menu-3-line{
        display: block;
        font-size: 8vw;
        font-weight: 800;
        transition: 0.4s ease-in-out;
        margin-top: 80vw;
        margin-left: 67vw;
        display: flex;
        background-color: aqua;
    }




    .left h1{
        font-size: 10vw;
    }
    .icons li{
        font-size: 2.2vw;
        display: none;
    }
    .left p{
        font-size: 4.5vw;
    }
    .mypic{
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    margin-left: 22vw;
    margin-top: 25vw;
}
.navbar h2{
    font-size: 7vw;
    font-weight: 1000;
}



.right{
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 10vw;
    position: relative;
    top: 80%;
    right: 50%;
    
}
.ri-facebook-circle-fill{
    font-size: 10vw;
    color: aliceblue;
    }
.ri-instagram-line{
    font-size: 10vw;
    color: aliceblue;
}
.ri-linkedin-box-fill{
    font-size: 10vw;
    color: aliceblue;
}
.ri-telegram-line{ 
    font-size: 10vw;
    color: aliceblue;
 }
}
